<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792283323683-b1ocmbsne15ta8e8q6tn9efcnd9c5u1l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792283323683-b1ocmbsne15ta8e8q6tn9efcnd9c5u1l</string>
	<key>API_KEY</key>
	<string>AIzaSyASMIxxv9G-OJcpH3LuMS5imI69rH2b46o</string>
	<key>GCM_SENDER_ID</key>
	<string>792283323683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gb.yggene.fakeVKapp</string>
	<key>PROJECT_ID</key>
	<string>fakevkapp</string>
	<key>STORAGE_BUCKET</key>
	<string>fakevkapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792283323683:ios:8e0b4aa5a383ad4e684096</string>
</dict>
</plist>